#allCustomerPoints{
    color: brown;
    font-weight: bold;

}

#customerPoint{
    margin-left: 5%;
    font-weight: bold;
    color: green;
}

h1{
    color: rgb(208, 49, 110);
    font-size: larger;
    font-weight: bold;

}

h3{
    color: rgb(22, 95, 95);
    font-size: large;
    font-weight: bold;
}