th,
td {
  width: 1%;
  padding: .5rem;
  vertical-align: top;
}

th{
  font-weight: bolder;
  font-style: normal;
  font-size: large;
  font-variant-emoji: emoji;
}
table{
  margin-top: 5%;
  height: fit-content;
  margin-right: 10%;
  padding: 20%;
  text-align: center;
  text-anchor: middle;
  font-weight: bold;

 }

span{
  margin-left: 53%;
  font-size: larger;
  font-weight: bolder;
  background-color: rgb(197, 197, 232);
}

label{
  background-color: beige;
  font-weight: bolder;
}

#homeButton{
  margin-bottom: 20%;
}

#inputPlace{
  margin-right: 30%;
  margin-bottom: 5%;
}

#resetButton{
  margin-left: 10%;
}


